In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("RealEstate_Cleaning").getOrCreate()

df = spark.read.parquet("hdfs://namenode:9000/datalake/bronze/propertyfinder")

In [3]:
df.show(5)
df.printSchema()

+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|     id|               title|   price|currency|            location|bedrooms|bathrooms|property_type|property_size|furnished|           share_url|         description|           amenities|         listed_date|          latitude|         longitude|
+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|8091574|2 floors home in ...|18000000|     EGP|Tawny Hyde Park, ...|       3|        3|        Villa|      240 sqm|       NO|https://www.prope...|Club Hills Reside...|Maids Room, Study...|2025-10-15T14:44:26Z|29.957908630371094| 30.91575813293457|
|8125366|own your unique u...| 5500000|     EGP|Park Side Residen...|       1|        1|    Apartment|       80 sqm|   PARTLY|https://www.prope...|prime location un...|Study, Central A/...|2025-10-21T13:29:08Z|30.046802520751953|31.002105712890625|
|8143813|VILLA Fully Finis...|25000000|     EGP|Dyar Compound, 90...|       4|        4|        Villa|      350 sqm|       NO|https://www.prope...|: : : 25,000, : =...|Balcony, Private ...|2025-10-24T11:35:36Z| 30.04147720336914|31.517410278320312|
|8091853|Easy plan, early ...| 6000000|     EGP|O West, 6 October...|       3|        3|    Apartment|      157 sqm|       NO|https://www.prope...|Dream Land Compou...|Maids Room, Study...|2025-10-15T15:06:44Z|29.969215393066406| 30.99283218383789|
|8143775|Twin House READY ...|15000000|     EGP|Garden Residence,...|       4|        4|        Villa|      255 sqm|       NO|https://www.prope...|Twin House for sa...|Balcony, Private ...|2025-10-24T11:28:15Z|29.986295700073242| 31.56165885925293|
+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
only showing top 5 rows

root
 |-- id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- price: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- location: string (nullable = true)
 |-- bedrooms: string (nullable = true)
 |-- bathrooms: string (nullable = true)
 |-- property_type: string (nullable = true)
 |-- property_size: string (nullable = true)
 |-- furnished: string (nullable = true)
 |-- share_url: string (nullable = true)
 |-- description: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- listed_date: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [4]:
df = df.filter((col("price").isNotNull()) & (col("price") > 0))

In [5]:
df.groupBy("property_type").count().show(
    
)

+---------------+-----+
|  property_type|count|
+---------------+-----+
|      Apartment| 1179|
|      Townhouse|  148|
|         iVilla|   46|
|Hotel Apartment|    5|
|          Villa|  388|
|      Penthouse|   59|
|           Land|    2|
|         Chalet|  155|
|         Palace|    2|
|     Twin House|   60|
|         Duplex|   55|
|       Bungalow|    1|
+---------------+-----+

In [6]:
df.filter((col("property_type") == "Villa") ).show(2)
df.filter((col("property_type") == "iVilla") ).show(2)

+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|     id|               title|   price|currency|            location|bedrooms|bathrooms|property_type|property_size|furnished|           share_url|         description|           amenities|         listed_date|          latitude|         longitude|
+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
|8091574|2 floors home in ...|18000000|     EGP|Tawny Hyde Park, ...|       3|        3|        Villa|      240 sqm|       NO|https://www.prope...|Club Hills Reside...|Maids Room, Study...|2025-10-15T14:44:26Z|29.957908630371094| 30.91575813293457|
|8143813|VILLA Fully Finis...|25000000|     EGP|Dyar Compound, 90...|       4|        4|        Villa|      350 sqm|       NO|https://www.prope...|: : : 25,000, : =...|Balcony, Private ...|2025-10-24T11:35:36Z| 30.04147720336914|31.517410278320312|
+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+
only showing top 2 rows

+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+----------------+
|     id|               title|   price|currency|            location|bedrooms|bathrooms|property_type|property_size|furnished|           share_url|         description|           amenities|         listed_date|         latitude|       longitude|
+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+----------------+
|8144147|I Villa garden 23...|10348000|     EGP|Mountain View iCi...|       3|        3|       iVilla|      230 sqm|       NO|https://www.prope...|Code: Am. m I Vil...|Balcony, Security...|2025-10-24T14:10:32Z|30.06942367553711|31.5997371673584|
|8143195|i villa Roof in M...|10680794|     EGP|Mountain View iCi...|       3|        3|       iVilla|      235 sqm|       NO|https://www.prope...|* Location: Mount...|Maids Room, Balco...|2025-10-23T20:39:53Z|30.06942367553711|31.5997371673584|
+-------+--------------------+--------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+----------------+
only showing top 2 rows

In [7]:
df.filter(lower(col("amenities")).contains("pool")).count()

1404

In [8]:
from pyspark.sql.functions import col, when, lower

# More comprehensive pattern matching
df = df.withColumn("Pool", 
    when(lower(col("amenities")).contains("pool"), 1)
    .when(lower(col("amenities")).contains("swimming"), 1)
    .otherwise(0)
)

df = df.withColumn("Gym", 
    when(lower(col("amenities")).contains("gym"), 1)
    .when(lower(col("amenities")).contains("fitness"), 1)
    .when(lower(col("amenities")).contains("workout"), 1)
    .otherwise(0)
)

df = df.withColumn("Garden", 
    when(lower(col("amenities")).contains("garden"), 1)
    .when(lower(col("amenities")).contains("gardening"), 1)
    .when(lower(col("amenities")).contains("lawn"), 1)
    .otherwise(0)
)

df = df.withColumn("Parking", 
    when(lower(col("amenities")).contains("parking"), 1)
    .when(lower(col("amenities")).contains("garage"), 1)
    .when(lower(col("amenities")).contains("carport"), 1)
    .otherwise(0)
)

df = df.withColumn("Maids_Quarters", 
    when(lower(col("amenities")).contains("maids"), 1)
    .when(lower(col("amenities")).contains("servant"), 1)
    .when(lower(col("amenities")).contains("staff"), 1)
    .otherwise(0)
)
df = df.withColumn("Jacuzzi",
    when(lower(col("amenities")).contains("jacuzzi"),1)
    .otherwise(0)
)
df = df.withColumn("Balcony",
                   when(lower(col("amenities")).contains("balcony"),1)
                   .otherwise(0)
)
df= df.withColumn("Spa",
                  when(lower(col("amenities")).contains("spa"),1)
                  .otherwise(0)
                  )

In [9]:
df.withColumn("price",
              col("price").cast("double"))

DataFrame[id: string, title: string, price: double, currency: string, location: string, bedrooms: string, bathrooms: string, property_type: string, property_size: string, furnished: string, share_url: string, description: string, amenities: string, listed_date: string, latitude: string, longitude: string, Pool: int, Gym: int, Garden: int, Parking: int, Maids_Quarters: int, Jacuzzi: int, Balcony: int, Spa: int]

In [ ]:
from pyspark.sql.functions import col, trim, regexp_replace, when, lower

df = df.drop("id", "currency")

df = df.withColumn("property_size",
                   regexp_replace(col("property_size"), "[^0-9.]", "")
                  .cast("double"))

df = df.filter(col("property_size").isNotNull() & (col("property_size") > 0))

df = df.withColumn("price_per_sqm", col("price") / col("property_size"))

df = df.withColumn("amenities", trim(lower(col("amenities"))))

df = df.withColumn("bedrooms", regexp_replace(col("bedrooms"), "[^0-9]", "").cast("int"))
df = df.withColumn("bathrooms", regexp_replace(col("bathrooms"), "[^0-9]", "").cast("int"))

df.show(10)

+--------------------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+----+---+------+-------+--------------+-------+-------+---+------------------+
|               title|   price|            location|bedrooms|bathrooms|property_type|property_size|furnished|           share_url|         description|           amenities|         listed_date|          latitude|         longitude|Pool|Gym|Garden|Parking|Maids_Quarters|Jacuzzi|Balcony|Spa|     price_per_sqm|
+--------------------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+----+---+------+-------+--------------+-------+-------+---+------------------+
|2 floors home in ...|18000000|Tawny Hyde Park, ...|       3|        3|        Villa|        240.0|       NO|https://www.prope...|Club Hills Reside...|maids room, study...|2025-10-15T14:44:26Z|29.957908630371094| 30.91575813293457|   1|  1|     1|      1|             1|      0|      1|  1|           75000.0|
|own your unique u...| 5500000|Park Side Residen...|       1|        1|    Apartment|         80.0|   PARTLY|https://www.prope...|prime location un...|study, central a/...|2025-10-21T13:29:08Z|30.046802520751953|31.002105712890625|   1|  1|     1|      1|             0|      0|      1|  1|           68750.0|
|VILLA Fully Finis...|25000000|Dyar Compound, 90...|       4|        4|        Villa|        350.0|       NO|https://www.prope...|: : : 25,000, : =...|balcony, private ...|2025-10-24T11:35:36Z| 30.04147720336914|31.517410278320312|   0|  1|     1|      0|             0|      0|      1|  1| 71428.57142857143|
|Easy plan, early ...| 6000000|O West, 6 October...|       3|        3|    Apartment|        157.0|       NO|https://www.prope...|Dream Land Compou...|maids room, study...|2025-10-15T15:06:44Z|29.969215393066406| 30.99283218383789|   1|  1|     1|      1|             1|      0|      1|  1| 38216.56050955414|
|Twin House READY ...|15000000|Garden Residence,...|       4|        4|        Villa|        255.0|       NO|https://www.prope...|Twin House for sa...|balcony, private ...|2025-10-24T11:28:15Z|29.986295700073242| 31.56165885925293|   1|  1|     1|      0|             0|      0|      1|  1|58823.529411764706|
|Apartment With Pr...|10500000|Lake View, 5th Se...|       2|        2|    Apartment|        144.0|       NO|https://www.prope...|New Cairo - Lake ...|balcony, shared p...|2025-10-24T10:59:29Z|30.021957397460938| 31.44134521484375|   1|  1|     0|      0|             0|      0|      1|  1| 72916.66666666667|
|Apartment For Sal...|14400000|Eastown, 5th Sett...|       3|        3|    Apartment|        213.0|       NO|https://www.prope...|Apartment For Sal...|maids room, centr...|2025-09-11T16:16:11Z| 30.01116943359375|31.516115188598633|   1|  1|     0|      1|             1|      0|      1|  0|  67605.6338028169|
|Pay 1.5 milion de...| 9000000|Hyde Park Central...|       4|        4|        Villa|        200.0|       NO|https://www.prope...|Villa for sale, 2...|maids room, balco...|2025-10-24T23:07:03Z| 29.97331428527832| 31.55760955810547|   1|  1|     0|      1|             1|      0|      1|  1|           45000.0|
|Apartment with 10...|  650000|Village West, She...|       3|        3|    Apartment|        150.0|       NO|https://www.prope...|Apartment with th...|maids room, study...|2025-10-20T08:26:06Z|30.048093795776367| 31.02005386352539|   1|  1|     0|      1|             1|      0|      1|  1| 4333.333333333333|
|Unique Apartment ...| 7000000|Park Side Residen...|       2|        2|    Apartment|        110.0|       NO|https://www.prope...|-Own your Apartme...|study, balcony, s...|2025-10-21T17:22:57Z|30.046802520751953|31.002105712890625|   1|  1|     0|      1|             0|      0|      1|  1| 63636.36363636364|
+--------------------+--------+--------------------+--------+---------+-------------+-------------+---------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+----+---+------+-------+--------------+-------+-------+---+------------------+
only showing top 10 rows

In [11]:
df.printSchema()

root
 |-- title: string (nullable = true)
 |-- price: string (nullable = true)
 |-- location: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- property_type: string (nullable = true)
 |-- property_size: double (nullable = true)
 |-- furnished: string (nullable = true)
 |-- share_url: string (nullable = true)
 |-- description: string (nullable = true)
 |-- amenities: string (nullable = true)
 |-- listed_date: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- Pool: integer (nullable = false)
 |-- Gym: integer (nullable = false)
 |-- Garden: integer (nullable = false)
 |-- Parking: integer (nullable = false)
 |-- Maids_Quarters: integer (nullable = false)
 |-- Jacuzzi: integer (nullable = false)
 |-- Balcony: integer (nullable = false)
 |-- Spa: integer (nullable = false)
 |-- price_per_sqm: double (nullable = true)

In [12]:
df.write.mode("overwrite").parquet("hdfs://namenode:9000/datalake/silver/cleaned_propertyfinder")

In [ ]:
# hdfs dfs -rm /datalake/silver/cleaned_propertyfinder/_SUCCESS