In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [2]:
spark = SparkSession.builder.appName("Silver_transformation_dubbizle").getOrCreate()

In [3]:
df_alex = spark.read.parquet("hdfs://namenode:9000/datalake/silver/cleaned_dubbizle_alexandria")
df_alex.show(3)
df_alex.printSchema()

+--------------------+--------------------+---------+--------------------+--------+---------+-----+
|         description|                link|    price|            location|bedrooms|bathrooms| area|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+
|شقة للبيع في السر...|https://www.dubiz...|7000000.0|Sidi Beshr, Alexa...|       3|        2|165.0|
|Apartment for sal...|https://www.dubiz...|5700000.0|   Alex West, Agami•|       3|        2|178.0|
|Apartment for sal...|https://www.dubiz...|9800000.0|Sawari, Moharam Bik•|       3|        3|208.0|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+
only showing top 3 rows

root
 |-- description: string (nullable = true)
 |-- link: string (nullable = true)
 |-- price: double (nullable = true)
 |-- location: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- area: double (nullable = true)

In [4]:
df_cairo = spark.read.parquet("hdfs://namenode:9000/datalake/silver/cleaned_dubbizle_cairo")
df_cairo.show(3)
df_cairo.printSchema()

+--------------------+--------------------+---------+--------------------+--------+---------+-----+
|         description|                link|    price|            location|bedrooms|bathrooms| area|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+
|A stunning apartm...|https://www.dubiz...|3075000.0|Shorouk City, Cairo•|       3|        2|205.0|
|An opportunity to...|https://www.dubiz...|8300000.0|Noor City, New Ca...|       3|        3|147.0|
|Apartment 3, imme...|https://www.dubiz...|   1.14E7|Villette Compound...|       3|        3|156.0|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+
only showing top 3 rows

root
 |-- description: string (nullable = true)
 |-- link: string (nullable = true)
 |-- price: double (nullable = true)
 |-- location: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- area: double (nullable = true)

In [5]:
df_cairo.groupBy("location").count().show()
df_alex.groupBy("location").count().show()

+--------------------+-----+
|            location|count|
+--------------------+-----+
|El Banafseg 2, 1s...|    2|
|Galleria Moon Val...|   29|
|New Andalous, 5th...|    4|
|El Yasmeen 2, 1st...|    3|
|Jewar Compound, 6...|    3|
|Trio Gardens Comp...|   14|
|      EGP 14,430,000|    1|
|Baron City, Katam...|    1|
|El Banafseg 7, 1s...|    4|
|IL Bosco, New Cap...|    2|
|El Lotus, 5th Set...|   48|
|Midtown Condo, Ne...|    1|
|The View Compound...|    1|
|North Rehab, 1st ...|    1|
|Banafsag Omarat, ...|   17|
|Green Hills, Nasr...|    1|
|Katameya Heights ...|    1|
|Armonia, New Capi...|    3|
|El Banafseg 9, 1s...|    1|
|Al Burouj, Shorou...|   25|
+--------------------+-----+
only showing top 20 rows

+--------------------+-----+
|            location|count|
+--------------------+-----+
|Fleming, Alexandria•|   24|
|Sidi Beshr, Alexa...|  110|
|Kafr Abdo, Alexan...|   64|
|Moustafa kamel, S...|    7|
|Sawari, Moharam Bik•|   44|
| Al Hanouvel, Agami•|    8|
|Raml Station, Ale...|    4|
|Montazah, Alexand...|    7|
|Gianaclis, Alexan...|   19|
|Abu Talat, Alexan...|    2|
|Camp Caesar, Alex...|   42|
|Nakheel, Alexandria•|  134|
|       EGP 8,500,000|    1|
|Al Ibrahimiyyah, ...|   28|
|King Mariout, Ale...|    1|
|   Jacaranda, Smoha•|    1|
| Shatby, Alexandria•|    4|
| Amreya, Alexandria•|    1|
|Waboor Elmayah, A...|   12|
|                000"|    1|
+--------------------+-----+
only showing top 20 rows

In [6]:
df_alex = df_alex\
    .withColumn("source", lit("dubbizle_Alexandria"))\
    
df_cairo = df_cairo\
    .withColumn("source", lit("dubbizle_Cairo"))

In [7]:
df_alex.show(3)
df_cairo.show(3)

+--------------------+--------------------+---------+--------------------+--------+---------+-----+-------------------+
|         description|                link|    price|            location|bedrooms|bathrooms| area|             source|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+-------------------+
|شقة للبيع في السر...|https://www.dubiz...|7000000.0|Sidi Beshr, Alexa...|       3|        2|165.0|dubbizle_Alexandria|
|Apartment for sal...|https://www.dubiz...|5700000.0|   Alex West, Agami•|       3|        2|178.0|dubbizle_Alexandria|
|Apartment for sal...|https://www.dubiz...|9800000.0|Sawari, Moharam Bik•|       3|        3|208.0|dubbizle_Alexandria|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+-------------------+
only showing top 3 rows

+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+
|         description|                link|    price|            location|bedrooms|bathrooms| area|        source|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+
|A stunning apartm...|https://www.dubiz...|3075000.0|Shorouk City, Cairo•|       3|        2|205.0|dubbizle_Cairo|
|An opportunity to...|https://www.dubiz...|8300000.0|Noor City, New Ca...|       3|        3|147.0|dubbizle_Cairo|
|Apartment 3, imme...|https://www.dubiz...|   1.14E7|Villette Compound...|       3|        3|156.0|dubbizle_Cairo|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+
only showing top 3 rows

In [8]:
df= df_cairo.unionByName(df_alex)
df.show(3)
df.printSchema()

+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+
|         description|                link|    price|            location|bedrooms|bathrooms| area|        source|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+
|A stunning apartm...|https://www.dubiz...|3075000.0|Shorouk City, Cairo•|       3|        2|205.0|dubbizle_Cairo|
|An opportunity to...|https://www.dubiz...|8300000.0|Noor City, New Ca...|       3|        3|147.0|dubbizle_Cairo|
|Apartment 3, imme...|https://www.dubiz...|   1.14E7|Villette Compound...|       3|        3|156.0|dubbizle_Cairo|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+
only showing top 3 rows

root
 |-- description: string (nullable = true)
 |-- link: string (nullable = true)
 |-- price: double (nullable = true)
 |-- location: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- bathrooms: integer (nullable = true)
 |-- area: double (nullable = true)
 |-- source: string (nullable = false)

In [9]:
df.select(
    [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
     for c in df.columns]
).show()
distinct = df.distinct().count()
count = df.count()
duplicate = count - distinct
print(f"Total Rows: {count}")
print(f"Distinct Rows: {distinct}")
print(f"Duplicate Rows Found: {duplicate}")

+-----------+----+-----+--------+--------+---------+----+------+
|description|link|price|location|bedrooms|bathrooms|area|source|
+-----------+----+-----+--------+--------+---------+----+------+
|          0|   0|    9|       0|      12|        4|   4|     0|
+-----------+----+-----+--------+--------+---------+----+------+

Total Rows: 4346
Distinct Rows: 4346
Duplicate Rows Found: 0

In [10]:
df = df.dropna(subset=[ "price", "area","bedrooms", "bathrooms"])

In [11]:
df = df\
    .withColumn("price", col("price").cast("double"))\
    
df =df.withColumn("price_per_sqm", (col("price") / col("area")).cast("double"))

In [12]:
cols_to_add = ["Jacuzzi", "Garden", "Balcony", "Pool", "Parking", "Gym", "Maids_Quarters", "Spa"]

# Add each column with value 0
for col in cols_to_add:
    df = df.withColumn(col, lit(0))

In [13]:
from pyspark.sql.functions import col, regexp_replace
df=df.withColumn("title", col("description"))

In [14]:
from pyspark.sql.functions import col, regexp_replace

df = (
    df
    # Fix common encoding issues like â€“
    .withColumn("title", regexp_replace(col("title"), "â€“", "-"))
    .withColumn("title", regexp_replace(col("title"), "Ù", "ا"))  # example for Arabic letters
    .withColumn("title", regexp_replace(col("title"), "Ø", "ف"))  # example
    .withColumn("title", regexp_replace(col("title"), "[\uFFFD]", ""))  # replacement char
    .withColumn("title", regexp_replace(col("title"), "[^\x00-\x7F\u0600-\u06FF\s0-9a-zA-Z\-]", ""))  # remove other weird chars
    # Trim leading/trailing spaces
    .withColumn("title", regexp_replace(col("title"), "^\s+|\s+$", ""))
    # Replicate title into description
    .withColumn("description", col("title"))
)

# Show first 10 cleaned titles
rows = df.select("title").take(20)
for num, row in enumerate(rows):
    print(num, row["title"])

0 A stunning apartment for sale, 205 m in the most upscale areas of the buildings in the city of Al-Shorouk, with a distinctive location directly on the Suez road.
1 An opportunity to own a 147m apartment in the first Smart City in Egypt, New Heliopolis, overlooking Wide Garden with payment facilitation for up to 13 years
2 Apartment 3, immediate delivery, luxurious finishing, for sale in SODIC Villette, New Cairo, near Palm Hills Compound
3 Apartment for sale in Privado Compound, with a garden view and lakes, area of 178 square meters, close to services
4 Penthouse for sale 237 sqm immediate receipt in Azad On 90th Street Fifth Settlement
5 Fully Finished 3BR Apartment + Maid Room in Hyde Park  Prime Location on Main Road
6 Open View Apartment | Green Spaces | in Sodic Eastown  compound
7 Duplexfor sale, ready to move , in installments, in Mountain View 1 Compound, Fifth Settlement, in front of the Public Prosecutor
8 شقه لقطه للبيع الزيتون غربيه
9 For sale  Ground apartment with garden  Wasal Views Compound  El Shorouk City | Immediate delivery | 100 meters garden | Prime location
10 For Sale  Garden Apartment in Sky Condos, Villette | 74 sqm Garden | 80% Finished
11 Finished duplex for sale in Reportage. Delivery within one year.
12 Apartment for sale in Maadi View Compound, El Shorouk  127 M sqm, 3rd floor, Phase 1, ultra super lux finishing.
13 with highest ROI hotel finishing apartment for sale with 40% discount rented by dollar mins from new cairo and nasr city and heliopolis
14 Best View : Luxury Apartment for Sale in Sodic East  Under Market Price |
15 77 sqm Ground Floor Apartment with 35 sqm Garden for Sale in Madinaty B6  Ultra Super Lux FinishingA prime opportunity to own a ground floor apartmen
16 The cheapest apartment price in District 5, with immediate delivery and payment facilities of up to 7 years.
17 Duplex for sale 300 m in New Cairo, Al-Banafsaj 1 Villas
18 Apartment for sale at Ivy residence island maadi view Elshorouk
19 This is a real opportunity to sell an apartment in Al-Rehab 2 with a total area of 250 meters, double view of the garden and the magical model street for spacious areas. The unit has special finishes consisting of 3 bedrooms.

In [15]:
rows = df.select("description").take(20)
for num, row in enumerate(rows):
    print(num, row["description"])

0 A stunning apartment for sale, 205 m in the most upscale areas of the buildings in the city of Al-Shorouk, with a distinctive location directly on the Suez road.
1 An opportunity to own a 147m apartment in the first Smart City in Egypt, New Heliopolis, overlooking Wide Garden with payment facilitation for up to 13 years
2 Apartment 3, immediate delivery, luxurious finishing, for sale in SODIC Villette, New Cairo, near Palm Hills Compound
3 Apartment for sale in Privado Compound, with a garden view and lakes, area of 178 square meters, close to services
4 Penthouse for sale 237 sqm immediate receipt in Azad On 90th Street Fifth Settlement
5 Fully Finished 3BR Apartment + Maid Room in Hyde Park  Prime Location on Main Road
6 Open View Apartment | Green Spaces | in Sodic Eastown  compound
7 Duplexfor sale, ready to move , in installments, in Mountain View 1 Compound, Fifth Settlement, in front of the Public Prosecutor
8 شقه لقطه للبيع الزيتون غربيه
9 For sale  Ground apartment with garden  Wasal Views Compound  El Shorouk City | Immediate delivery | 100 meters garden | Prime location
10 For Sale  Garden Apartment in Sky Condos, Villette | 74 sqm Garden | 80% Finished
11 Finished duplex for sale in Reportage. Delivery within one year.
12 Apartment for sale in Maadi View Compound, El Shorouk  127 M sqm, 3rd floor, Phase 1, ultra super lux finishing.
13 with highest ROI hotel finishing apartment for sale with 40% discount rented by dollar mins from new cairo and nasr city and heliopolis
14 Best View : Luxury Apartment for Sale in Sodic East  Under Market Price |
15 77 sqm Ground Floor Apartment with 35 sqm Garden for Sale in Madinaty B6  Ultra Super Lux FinishingA prime opportunity to own a ground floor apartmen
16 The cheapest apartment price in District 5, with immediate delivery and payment facilities of up to 7 years.
17 Duplex for sale 300 m in New Cairo, Al-Banafsaj 1 Villas
18 Apartment for sale at Ivy residence island maadi view Elshorouk
19 This is a real opportunity to sell an apartment in Al-Rehab 2 with a total area of 250 meters, double view of the garden and the magical model street for spacious areas. The unit has special finishes consisting of 3 bedrooms.

In [16]:
from pyspark.sql.functions import when, col, lower

df = df.withColumn("Pool", 
    when(lower(col("title")).contains("pool"), 1)
    .when(lower(col("title")).contains("swimming"), 1)
    .otherwise(0)
)

df = df.withColumn("Gym", 
    when(lower(col("title")).contains("gym"), 1)
    .when(lower(col("title")).contains("fitness"), 1)
    .when(lower(col("title")).contains("workout"), 1)
    .otherwise(0)
)

df = df.withColumn("Garden", 
    when(lower(col("title")).contains("garden"), 1)
    .when(lower(col("title")).contains("gardening"), 1)
    .when(lower(col("title")).contains("lawn"), 1)
    .otherwise(0)
)

df = df.withColumn("Parking", 
    when(lower(col("title")).contains("parking"), 1)
    .when(lower(col("title")).contains("garage"), 1)
    .when(lower(col("title")).contains("carport"), 1)
    .otherwise(0)
)

df = df.withColumn("Maids_Quarters", 
    when(lower(col("title")).contains("maids"), 1)
    .when(lower(col("title")).contains("servant"), 1)
    .when(lower(col("title")).contains("staff"), 1)
    .otherwise(0)
)

df = df.withColumn("Jacuzzi",
    when(lower(col("title")).contains("jacuzzi"), 1)
    .otherwise(0)
)

df = df.withColumn("Balcony",
    when(lower(col("title")).contains("balcony"), 1)
    .otherwise(0)
)

df = df.withColumn("Spa",
    when(lower(col("title")).contains("spa"), 1)
    .otherwise(0)
)

In [17]:
amenities_list = ["Jacuzzi", "Garden", "Balcony", "Pool", "Parking", "Gym", "Maids_Quarters", "Spa"]

for amenity in amenities_list:
    count = df.filter(col(amenity) == 1).count()
    print(f"{amenity}: {count}")

Jacuzzi: 1
Garden: 484
Balcony: 2
Pool: 55
Parking: 29
Gym: 1
Maids_Quarters: 2
Spa: 36

In [18]:
df.groupBy("location").count().show()

+--------------------+-----+
|            location|count|
+--------------------+-----+
|El Banafseg 2, 1s...|    2|
|Galleria Moon Val...|   29|
|New Andalous, 5th...|    4|
|El Yasmeen 2, 1st...|    3|
|Jewar Compound, 6...|    3|
|Trio Gardens Comp...|   14|
|Baron City, Katam...|    1|
|El Banafseg 7, 1s...|    4|
|IL Bosco, New Cap...|    2|
|El Lotus, 5th Set...|   48|
|Midtown Condo, Ne...|    1|
|The View Compound...|    1|
|North Rehab, 1st ...|    1|
|Banafsag Omarat, ...|   17|
|Green Hills, Nasr...|    1|
|Katameya Heights ...|    1|
|Armonia, New Capi...|    3|
|El Banafseg 9, 1s...|    1|
|Al Burouj, Shorou...|   25|
|      Shubra, Cairo•|    2|
+--------------------+-----+
only showing top 20 rows

In [19]:
from pyspark.sql.functions import col, lower, when

df = df.withColumn(
    "property_type",
    when(
        lower(col("title")).like("%apartment%") | lower(col("title")).like("%apt%") | lower(col("title")).contains("apartm") | col("title").contains("شقة")| col("title").contains("شقه"),
        "Apartment"
    )
    .when(
        lower(col("title")).like("%townhouse%") | lower(col("title")).contains("town") | lower(col("title")).like("%town house%") | col("title").contains("تاون هاوس"),
        "Townhouse"
    )
    .when(
        lower(col("title")).like("%twin house%") | lower(col("title")).like("%twin%") | col("title").contains("توأم"),
        "Twin House"
    )
    .when(
        lower(col("title")).like("%villa%") | col("title").contains("فيلا"),
        "Villa"
    )
    .when(lower(col("title")).like("%ivilla%"), "iVilla")
    .when(lower(col("title")).like("%hotel apartment%"), "Hotel Apartment")
    .when(lower(col("title")).like("%penthouse%") | col("title").contains("بنتهاوس"), "Penthouse")
    .when(lower(col("title")).like("%land%") | col("title").contains("أرض"), "Land")
    .when(lower(col("title")).like("%chalet%") | lower(col("title")).like("%chaleat%") | col("title").contains("شاليه"), "Chalet")
    .when(lower(col("title")).like("%palace%") | col("title").contains("قصر"), "Palace")
    .when(lower(col("title")).like("%mansion%") | col("title").contains("مانشن"), "Mansion")
    .when(lower(col("title")).like("%duplex%") | lower(col("title")).like("%dublex%") | col("title").contains("دوبلكس")|lower(col("title")).like("%duplix%") , "Duplex")
    .when(lower(col("title")).like("%bungalow%") | col("title").contains("بنغل"), "Bungalow")
    .when(lower(col("title")).like("%studio%") | col("title").contains("ستوديو"), "Studio")
    .when(lower(col("title")).like("%roof%") | col("title").contains("روف"), "Roof")
    .when(lower(col("title")).like("%triplex%") | col("title").contains("تريبلكس"), "Triplex")
    .when(lower(col("title")).like("%standalone%") | lower(col("title")).like("%stand-alone%") | lower(col("title")).contains("stand") | col("title").contains("ستندالون"), "Standalone")
    .otherwise("Other")
)

In [20]:
property_type_counts = df.groupBy("property_type").count().orderBy("count", ascending=False)
property_type_counts.show(truncate=False)

+-------------+-----+
|property_type|count|
+-------------+-----+
|Apartment    |3672 |
|Other        |275  |
|Duplex       |149  |
|Penthouse    |80   |
|Villa        |53   |
|Studio       |51   |
|Townhouse    |24   |
|Roof         |14   |
|Land         |9    |
|Palace       |2    |
|Standalone   |1    |
|Triplex      |1    |
+-------------+-----+

In [21]:
df.filter(col("property_type") == "Other").show(12)

+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+------------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+
|         description|                link|    price|            location|bedrooms|bathrooms| area|        source|     price_per_sqm|Jacuzzi|Garden|Balcony|Pool|Parking|Gym|Maids_Quarters|Spa|               title|property_type|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+------------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+
|For sale in Al-Ri...|https://www.dubiz...|6900000.0|Rehab City Compou...|       3|        3|113.0|dubbizle_Cairo| 61061.94690265487|      0|     1|      0|   0|      0|  0|             0|  0|For sale in Al-Ri...|        Other|
|New Egypt, on Al-...|https://www.dubiz...|4350000.0|  Heliopolis, Cairo•|       2|        1|137.0|dubbizle_Cairo| 31751.82481751825|      0|     0|      0|   0|      0|  0|             0|  0|New Egypt, on Al-...|        Other|
|A flat in the sec...|https://www.dubiz...|1800000.0|   Badr City, Cairo•|       3|        2|140.0|dubbizle_Cairo|12857.142857142857|      0|     0|      0|   0|      0|  0|             0|  0|A flat in the sec...|        Other|
|under market pric...|https://www.dubiz...|5900000.0|Taj City Compound...|       2|        2|105.0|dubbizle_Cairo| 56190.47619047619|      0|     0|      0|   0|      0|  0|             0|  0|under market pric...|        Other|
|Luxuriously Finis...|https://www.dubiz...|7500000.0|   New Cairo, Cairo•|       3|        2|175.0|dubbizle_Cairo|42857.142857142855|      0|     0|      0|   0|      0|  0|             0|  0|Luxuriously Finis...|        Other|
|غرب اربيلا التجمع...|https://www.dubiz...|6000000.0|5th Settlement, N...|       3|        1|135.0|dubbizle_Cairo|44444.444444444445|      0|     0|      0|   0|      0|  0|             0|  0|غرب اربيلا التجمع...|        Other|
|Furnished 3 bedro...|https://www.dubiz...|    1.7E7|Sky Condos Sodic ...|       3|        3|170.0|dubbizle_Cairo|          100000.0|      0|     0|      0|   0|      0|  0|             0|  0|Furnished 3 bedro...|        Other|
|Ismailia Square, ...|https://www.dubiz...|    1.0E7|  Heliopolis, Cairo•|       3|        3|200.0|dubbizle_Cairo|           50000.0|      0|     0|      0|   0|      0|  0|             0|  0|Ismailia Square, ...|        Other|
|Sky loft semi fin...|https://www.dubiz...|7548000.0|Mountain View iCi...|       2|        3|135.0|dubbizle_Cairo| 55911.11111111111|      0|     0|      0|   0|      0|  0|             0|  0|Sky loft semi fin...|        Other|
|One of the kind s...|https://www.dubiz...|   1.55E7|Hyde Park New Cai...|       3|        2|211.0|dubbizle_Cairo| 73459.71563981043|      0|     0|      0|   0|      0|  0|             0|  1|One of the kind s...|        Other|
|View and receive ...|https://www.dubiz...|6900000.0|Corniche El Maadi...|       4|        3|261.0|dubbizle_Cairo|  26436.7816091954|      0|     0|      0|   0|      0|  0|             0|  0|View and receive ...|        Other|
|Fully Finished 3 ...|https://www.dubiz...|7300000.0|Mountain View iCi...|       3|        3|160.0|dubbizle_Cairo|           45625.0|      0|     0|      0|   0|      0|  0|             0|  0|Fully Finished 3 ...|        Other|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+------------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+
only showing top 12 rows

In [22]:
df = df.withColumn("longitude", lit(0).cast("double"))
df = df.withColumn("latitude", lit(0).cast("double"))

In [23]:
df.show(3)

+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+-----------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+---------+--------+
|         description|                link|    price|            location|bedrooms|bathrooms| area|        source|    price_per_sqm|Jacuzzi|Garden|Balcony|Pool|Parking|Gym|Maids_Quarters|Spa|               title|property_type|longitude|latitude|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+-----------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+---------+--------+
|A stunning apartm...|https://www.dubiz...|3075000.0|Shorouk City, Cairo•|       3|        2|205.0|dubbizle_Cairo|          15000.0|      0|     0|      0|   0|      0|  0|             0|  0|A stunning apartm...|    Apartment|      0.0|     0.0|
|An opportunity to...|https://www.dubiz...|8300000.0|Noor City, New Ca...|       3|        3|147.0|dubbizle_Cairo| 56462.5850340136|      0|     1|      0|   0|      0|  0|             0|  0|An opportunity to...|    Apartment|      0.0|     0.0|
|Apartment 3, imme...|https://www.dubiz...|   1.14E7|Villette Compound...|       3|        3|156.0|dubbizle_Cairo|73076.92307692308|      0|     0|      0|   0|      0|  0|             0|  0|Apartment 3, imme...|    Apartment|      0.0|     0.0|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+-----------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+---------+--------+
only showing top 3 rows

In [27]:
df.select("location").show(15)

+--------------------+
|            location|
+--------------------+
|Shorouk City, Cairo•|
|Noor City, New Ca...|
|Villette Compound...|
|  Privado, Madinaty•|
|AZAD Compound, 5t...|
|Hyde Park New Cai...|
|Eastown Compound,...|
|Mountain View 1 C...|
|Hadayeq El Zeitou...|
|Wesal, Shorouk City•|
|Sky Condos Sodic ...|
|Monte Napoleon, M...|
|Maadi View, Shoro...|
|Stone Residence C...|
|Sodic East, New H...|
+--------------------+
only showing top 15 rows

In [25]:
df.show(15)

+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+------------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+---------+--------+
|         description|                link|    price|            location|bedrooms|bathrooms| area|        source|     price_per_sqm|Jacuzzi|Garden|Balcony|Pool|Parking|Gym|Maids_Quarters|Spa|               title|property_type|longitude|latitude|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+------------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+---------+--------+
|A stunning apartm...|https://www.dubiz...|3075000.0|Shorouk City, Cairo•|       3|        2|205.0|dubbizle_Cairo|           15000.0|      0|     0|      0|   0|      0|  0|             0|  0|A stunning apartm...|    Apartment|      0.0|     0.0|
|An opportunity to...|https://www.dubiz...|8300000.0|Noor City, New Ca...|       3|        3|147.0|dubbizle_Cairo|  56462.5850340136|      0|     1|      0|   0|      0|  0|             0|  0|An opportunity to...|    Apartment|      0.0|     0.0|
|Apartment 3, imme...|https://www.dubiz...|   1.14E7|Villette Compound...|       3|        3|156.0|dubbizle_Cairo| 73076.92307692308|      0|     0|      0|   0|      0|  0|             0|  0|Apartment 3, imme...|    Apartment|      0.0|     0.0|
|Apartment for sal...|https://www.dubiz...|    1.4E7|  Privado, Madinaty•|       3|        2|178.0|dubbizle_Cairo| 78651.68539325842|      0|     1|      0|   0|      0|  0|             0|  0|Apartment for sal...|    Apartment|      0.0|     0.0|
|Penthouse for sal...|https://www.dubiz...|8370000.0|AZAD Compound, 5t...|       3|        3|237.0|dubbizle_Cairo| 35316.45569620253|      0|     0|      0|   0|      0|  0|             0|  0|Penthouse for sal...|    Penthouse|      0.0|     0.0|
|Fully Finished 3B...|https://www.dubiz...|   1.27E7|Hyde Park New Cai...|       3|        3|192.0|dubbizle_Cairo| 66145.83333333333|      0|     0|      0|   0|      0|  0|             0|  0|Fully Finished 3B...|    Apartment|      0.0|     0.0|
|Open View Apartme...|https://www.dubiz...|    1.1E7|Eastown Compound,...|       2|        3|156.0|dubbizle_Cairo| 70512.82051282052|      0|     0|      0|   0|      0|  0|             0|  1|Open View Apartme...|    Apartment|      0.0|     0.0|
|Duplexfor sale, r...|https://www.dubiz...|    1.3E7|Mountain View 1 C...|       3|        3|220.0|dubbizle_Cairo| 59090.90909090909|      0|     0|      0|   0|      0|  0|             0|  0|Duplexfor sale, r...|       Duplex|      0.0|     0.0|
|شقه لقطه للبيع ال...|https://www.dubiz...|2500000.0|Hadayeq El Zeitou...|       3|        2|150.0|dubbizle_Cairo|16666.666666666668|      0|     0|      0|   0|      0|  0|             0|  0|شقه لقطه للبيع ال...|    Apartment|      0.0|     0.0|
|For sale  Ground ...|https://www.dubiz...|8300000.0|Wesal, Shorouk City•|       3|        4|220.0|dubbizle_Cairo| 37727.27272727273|      0|     1|      0|   0|      0|  0|             0|  0|For sale  Ground ...|    Apartment|      0.0|     0.0|
|For Sale  Garden ...|https://www.dubiz...|   1.52E7|Sky Condos Sodic ...|       3|        3|181.0|dubbizle_Cairo| 83977.90055248619|      0|     1|      0|   0|      0|  0|             0|  0|For Sale  Garden ...|    Apartment|      0.0|     0.0|
|Finished duplex f...|https://www.dubiz...|8480000.0|Monte Napoleon, M...|       2|        3|165.0|dubbizle_Cairo| 51393.93939393939|      0|     0|      0|   0|      0|  0|             0|  0|Finished duplex f...|       Duplex|      0.0|     0.0|
|Apartment for sal...|https://www.dubiz...|4500000.0|Maadi View, Shoro...|       2|        2|127.0|dubbizle_Cairo| 35433.07086614173|      0|     0|      0|   0|      0|  0|             0|  0|Apartment for sal...|    Apartment|      0.0|     0.0|
|with highest ROI ...|https://www.dubiz...|    1.1E7|Stone Residence C...|       2|        2|123.0|dubbizle_Cairo| 89430.89430894308|      0|     0|      0|   0|      0|  0|             0|  0|with highest ROI ...|    Apartment|      0.0|     0.0|
|Best View : Luxur...|https://www.dubiz...|7500000.0|Sodic East, New H...|       3|        3|165.0|dubbizle_Cairo|45454.545454545456|      0|     0|      0|   0|      0|  0|             0|  0|Best View : Luxur...|    Apartment|      0.0|     0.0|
+--------------------+--------------------+---------+--------------------+--------+---------+-----+--------------+------------------+-------+------+-------+----+-------+---+--------------+---+--------------------+-------------+---------+--------+
only showing top 15 rows

In [25]:
df.select(
    [sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
     for c in df.columns]
).show()
distinct = df.distinct().count()
count = df.count()
duplicate = count - distinct
print(f"Total Rows: {count}")
print(f"Distinct Rows: {distinct}")
print(f"Duplicate Rows Found: {duplicate}")

+-----------+----+-----+--------+--------+---------+----+------+-------------+-------+------+-------+----+-------+---+--------------+---+-----+-------------+---------+--------+
|description|link|price|location|bedrooms|bathrooms|area|source|price_per_sqm|Jacuzzi|Garden|Balcony|Pool|Parking|Gym|Maids_Quarters|Spa|title|property_type|longitude|latitude|
+-----------+----+-----+--------+--------+---------+----+------+-------------+-------+------+-------+----+-------+---+--------------+---+-----+-------------+---------+--------+
|          0|   0|    0|       0|       0|        0|   0|     0|            0|      0|     0|      0|   0|      0|  0|             0|  0|    0|            0|        0|       0|
+-----------+----+-----+--------+--------+---------+----+------+-------------+-------+------+-------+----+-------+---+--------------+---+-----+-------------+---------+--------+

Total Rows: 4331
Distinct Rows: 4331
Duplicate Rows Found: 0

In [ ]:
df.write.mode("overwrite").parquet("hdfs://namenode:9000/datalake/gold/dubbizle_gold")

In [28]:
df.write.mode("overwrite").csv("/data/df_all.csv")